
.nav-is-bottom {
  bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  margin-top: 10px;
}

.column {
  margin: auto 1em 0 0.5em;
}

.missing-box {
  background-color: #ff9970;
  color: black;;
}

.found-box {
  background-color: lightgrey;
  color: black;
}

.putfora-box {
  background-color: yellow;
  color: black;
}

.adopt-box {
  background-color: rgb(177, 19, 19);
  color: white
}

.messages-box {
  background-color: black;
  color: white;
}