{% extends 'map.html' %}

{% block leftside %}
<button type="button" class="purpleblock">
    <span>Adopt a Dog</span> <br><br>
    <span class="icon">
        <i class="fas fa-home"></i>
    </span>
  </button>
<br><br>
<div class="dropdown">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
        <span>Breed</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">
          Alaskan Malamute
        </a>
        <a href="#" class="dropdown-item">
          Goldendoodle
        </a>
        <a href="#" class="dropdown-item">
          Labrador
        </a>
        <a href="#" class="dropdown-item">
          Golden Retriever
        </a>
        <a href="#" class="dropdown-item">
          Chiwawa
        </a>
        <a href="#" class="dropdown-item">
          Poodle
        </a>
        <a href="#" class="dropdown-item">
          Yorki
        </a>
        <hr class="dropdown-divider">
        <a href="#" class="dropdown-item">
          German Sepherd
        </a>
      </div>
    </div>
  </div>
  <form>
    <textarea class="textarea" placeholder="Age" rows="1"></textarea>
    <textarea class="textarea" placeholder="Location" rows="1"></textarea>
    <textarea class="textarea" placeholder="Contact Info" rows="1"></textarea>
  </form>
  <div>
    <br><br>
      <a class="button is-danger">
        Save
      </a>
    </div>
      {% endblock %}