<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PetForo | {{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/dccaa85f77.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename = 'base.css')}}">
  <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
</head>

<body>
  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{url_for('home')}}">
          <img src="{{url_for('static', filename = 'PetForoCornerLogo.png')}}" padding-left="20px" style="max-height:700px; max-width:160px;">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        
      </div>
  
      <div class="navbar-end">

        <div class="navbar-item">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" type="email" placeholder="Search...">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="navbar-item">
          <div class="buttons">

            <a class="button is-white" href="{{url_for('home')}}">
              <i class="fas fa-home" style="padding-right:5px;"></i>
              Home
            </a>

            <a class="button is-light" href="{{url_for('profile', user_id='1')}}">
              <i class="fa-solid fa-circle-user" style="padding-right:5px;"></i>
              Profile
            </a>

            <a class="button has-text-white" style="background-color:rgb(177, 19, 19);">
              Log in
            </a>

          </div>
        </div>

      </div>
    </div>
  </nav>

  <div class="columns is-mobile is-multiline is-centered nav-is-bottom buttons are-medium">
      <div class="column is-narrow">
        <a class="button missing-box" href="{{url_for('missing')}}">Report a Missing Pet
          <i class="fa fa-search" style="padding-left:8px;"></i>
        </a>
      </div>

      <div class="column is-narrow">
        <a class="button found-box" href="{{url_for('found')}}">Report a Found Pet
          <i class="fa fa-address-book" style="padding-left:8px;"></i>
        </a>
      </div>

      <div class="column is-narrow">
        <a class="button putfora-box" href="{{url_for('putfora')}}">Put a Pet Up for Adoption
          <i class="fas fa-hand-holding-heart" style="padding-left:8px;"></i>
        </a>
      </div>

      <div class="column is-narrow">
          <a class="button adopt-box" href="{{url_for('adopt')}}">Adopt a Pet
            <i class="fas fa-home" style="padding-left:8px;"></i>
          </a>
      </div>

      <div class="column is-narrow">
          <a class="button messages-box" href="{{url_for('messages')}}">Messages
            <i class="fas fa-sms" style="padding-left:8px;"></i>
          </a>
      </div>

  </div>

  <div class="container split">
    <h1 class="title">
    </h1>
    <div class="newblock">
      {% block content %}

      {% endblock %}
    </div>
  </div>
</body>
</html>