{% extends 'base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{url_for('static', filename = 'home.css')}}">
</head>

<div class="split">
  {% for pet in missing_pets %}
  <div class="frame missing-box">
    <p>Missing </p><br>
    <p>{{pet["Name"]}}</p>
      <!-- <img src= "{{pet['Picture']}}" padding-left="20px" height="50px" width="100px"> -->
  </div>
  {% endfor %}


  <!-- <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>

  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame missing-box">
    <p>Missing </p>
      <img src= "{{url_for('static', filename = 'freddie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame found-box">
    <p>Found &nbsp;</p>
      <img src= "{{url_for('static', filename = 'melba.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div>
  <div class="frame adopt-box">
    <p>Adopt/Buy </p>
      <img src= "{{url_for('static', filename = 'charlie.jpg')}}" padding-left="20px" height="50px" width="100px">
  </div> -->
</div>
{% endblock %}