{% extends 'base.html' %}


{% block content %}

<head>
  <link rel="stylesheet" href="{{url_for('static', filename = 'profile.css')}}">
</head>

  <div class="split left">
      <div class="centered content is-medium">
        <h1>{{ user }}</h1> <br><br>
        <p>Email <p>
        <form>
          <textarea class="textarea" placeholder='' rows=1></textarea>
        <p>Location<p>
            <textarea class="textarea" placeholder='' rows=1></textarea>
          <p>Phone Number<p>
                <textarea class="textarea" placeholder='' rows=1></textarea>
              </form>
              <br>
              <div>
                  <a class="button is-danger">
                    Submit Changes
                  </a>
                </div>
      </div>
  </div>

  

{% endblock %}