{% extends 'base.html' %}


{% block content %}

<head>
  <link rel="stylesheet" href="{{url_for('static', filename = 'profile.css')}}">
</head>

  <div class="split left">
      <div class="centered content is-medium">
        <h1>{{ user[0]['Username'] }}</h1> <br><br>
        <p>Email<p>
        <div class="control block">
          <input class="input block" type="text" placeholder="{{user[0]['email']}}" disabled>
        </div>
        <p>Location<p>
        <div class="control block">
          <input class="input block" type="text" placeholder="{{user[0]['Location']}}" disabled>
        </div>
        <p>Phone Number<p>
        <div class="control block">
          <input class="input block" type="text" placeholder="{{user[0]['PhoneNumber']}}" disabled>
        </div>
        <br>
        <a class="button is-danger">
          Submit Changes
        </a>
      </div>
  </div>

  

{% endblock %}